.breadcrumb {
    padding-left: 25px;
}

.arrowRight {
    top: 26%;
    position: relative;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: underline;
    color: blue;
}