.breadcrumb {
    padding-left: 50px;
}

.arrowRight {
    top: 26%;
    position: relative;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: underline;
    color: blue;
}

@media screen and (max-width: 600px) {
    .breadcrumb {
        padding-left: 30px;
    }
}