.modalDialogNewHomework{
    font-weight: bold;
}

.modalDialogNewHomeworkButtonCreate{
    padding: 10px;
    margin: 10px;
    background-color: #2196F3;
    color: white;
}

.modalDialogNewHomeworkButtonCreate:hover{
    background-color: #1E88E5;
}

.modalDialogNewHomeworkButtonCancel{
    padding: 10px;
    margin: 10px;
    background-color: #9E9E9E;
    color: white;
}

.modalDialogNewHomeworkButtonCancel:hover{
    background-color: #757575;
}

