.modalDialogNewClass{
    padding:20px;
    margin: 20px;
}

.modalDialogNewClassButtonCreate{
    padding: 20px;
    margin: 20px;
}

.modalDialogNewClassButtonCancel{
    padding: 20px;
    margin: 20px;
}
