i {
    position: relative;
    top: 12px;
}

#percentage {
    position: relative;
    top: 12px;
}

.right {
    border-style: solid;
    border-color: LightGreen;
    border-width: 7px;
}

.wrong {
    border-style: solid;
    border-color: LightSalmon;
    border-width: 7px;
}