.footer {
    background-color: #03a9f4;
    max-height: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.footer > p {
    padding-top: 10px;
    color: white;
    font-family: "Roboto", sans-serif;
    /*font-weight: bold;*/
    text-align: center
}
