.content {
    padding-left: 15px;
    padding-right: 15px;
}

@media only screen and (max-width: 600px) {
    .content {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.spacey {
    margin-bottom: 40px;
}